<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="htWorkItemHandlerFactory" class="com.jeetemplates.bpm.handler.HTWorkItemHandlerFactory"
		init-method="init" destroy-method="destroy">
		<property name="ipAddress" value="127.0.0.1" />
		<property name="port" value="5153" />
	</bean>

</beans>